version: "3.9"

services:
  webapp:
    image: {{ app_image }}
      - "{{ app_port }}:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
    volumes:
      - ~/.aspnet/https:/https:ro
    depends_on:
      - db
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Database={{ db_name }};Username={{ db_username }};Password={{ db_password }}
  db:
    image: postgres:13
    restart:
